{% extends 'base.html' %}
{% load static %}
{% block title %} Profile  {% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="row featurette">
        <img src="{{ user_account.bg_cover.url }}" alt="img" class="bd-placeholder-img bd-placeholder-img-lg" width="100%" height="250">

        <div class="col-md-7">
            <div class="bd-example">
                <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg img-fluid" width="100%" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Responsive image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Responsive image</text></svg> -->
                <div class="col-lg-4">
                    <img src="{{ user_account.avatar.url }}" class="bd-placeholder-img rounded-circle mt-5" width="140" height="140"  role="img" focusable="false">
                
                    <h2>{{ user_account.first_name }} {{ user_account.last_name }}</h2>
                    {% if user_account.bio %}
                        <p>{{ user_account.bio }}</p>
                    {% endif %}
                    <div class="bd-example">
                      {% if request.user != user_account.user %}
                        {% if request.user in user_account.user.folowings.all %}
                          <form action="{% url 'users:user-unfollow' user_account.username %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-secondary">Unfollow</button>
                          </form>
                        {% else %}
                          <form action="{% url 'users:user-follow' user_account.username %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-secondary">Folow</button>
                          </form>
                        {% endif %}
                      {% else %}
                      <a href="{% url 'users:user-account' %}" type="submit" class="btn btn-outline-secondary">Update profile</a>
                      <a href="" type="submit" class="btn btn-outline-secondary">Share profile</a>
                      {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 mt-5">
            <!-- right content -->
            <div class="modal-body p-4 text-center">
              <h5 class="mb-0">Enable this setting?</h5>
              <p class="mb-7">
                {% if user_account.socials %}
                  {% for social in user_account.socials.all %}
                    <a href="{{ social.url }}" class="nav-link text-dark">{{ social.name }}</a>
                  {% endfor %}
                {% endif %}
              </p>
            </div>
            <div class="modal-footer flex-nowrap p-0 text-center">
                <a href="{% url 'users:user-folowers' user_account.username %}" class="nav-link text-dark">
                  <h3>{{ user_account.user.folowers.all.count }} folowers</h3>
                </a>
                <a href="{% url 'users:user-folowings' user_account.username %}" class="nav-link text-dark">
                  <h3>{{ user_account.user.folowings.all.count }} folowings</h3>
                </a>
            </div>
          </div>

        </div>
        <div class="container mt-5 mb-5">
            <div class="bd-example">
                <nav>
                  <div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-videos-tab" data-bs-toggle="tab" data-bs-target="#nav-videos" type="button" role="tab" aria-controls="nav-videos" aria-selected="true">Videos</button>
                    <button class="nav-link" id="nav-audios-tab" data-bs-toggle="tab" data-bs-target="#nav-audios" type="button" role="tab" aria-controls="nav-audios" aria-selected="false">Audios</button>
                    <button class="nav-link" id="nav-photos-tab" data-bs-toggle="tab" data-bs-target="#nav-photos" type="button" role="tab" aria-controls="nav-photos" aria-selected="false">Photos</button>
                  </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade active show" id="nav-videos" role="tabpanel" aria-labelledby="nav-videos-tab">

                    <div class="row" data-masonry="{&quot;percentPosition&quot;: true }">
                      {% if videos %}
                        {% for video in videos %}
                          <div class="col-sm-6 col-lg-4 mb-4">
                            <div class=" overflow-hidden text-dark bg-white rounded-5 shadown-lg">
                              <!-- <svg class="bd-placeholder-img card-img" width="100%" height="260" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Card image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Card image</text></svg> -->
                              <a href="{% url 'akromdev:video-detail' video.slug %}">
                                <img src="{{ video.cover.url }}" alt="" width="100%" height="260" role="img" style="border-radius: 5%;">
                              </a>
                              <div class="mt-2">
                                <p>
                                  <b>{{ video.title }}</b>
                                </p>
                                <a href="#" class="nav-link text-dark">
                                  <small>{{ video.created_at }}</small>
                                </a>
                              </div>
                            </div>
                          </div>
                        {% empty %}
                          <h1>Now VIdoes</h1>
                        {% endfor %}
                      {% endif %}
                    </div>

                  </div>
                  <div class="tab-pane fade" id="nav-audios" role="tabpanel" aria-labelledby="nav-audios-tab">
                    {% if audios %}
                    <div class="container"> 
                      <div class="row" data-masonry="{&quot;percentPosition&quot;: true }">
                        {% for audio in audios %}
                          <div class="col-sm-6 col-lg-4 mb-4">
                            <div class="card">
                              <a href="{% url 'akromdev:audio-detail' audio.slug %}">
                                <img src="{{ audio.cover.url }}" alt="img" class="bd-placeholder-img card-img-top img-fluid" width="100%" height="200" role="img">
                              </a>
                              <div class="card-body">
                                <h5 class="card-title">{{ audio.title }}</h5>
                                <p class="card-text">
                                  <a href="#" class="nav-link text-dark">
                                    {{ audio.created_at }}
                                  </a>
                                </p>
                              </div>
                            </div>
                          </div>
                        {% empty %}
                          <h1>Now Audios</h1>
                        {% endfor %}
                      </div>
                    </div>
                    {% endif %}
                    
                  </div>
                  <div class="tab-pane fade" id="nav-photos" role="tabpanel" aria-labelledby="nav-photos-tab">
                  
                    <div class="row" data-masonry="{&quot;percentPosition&quot;: true }">
                      {% if pictures %}
                        {% for picture in pictures %}
                          <div class="col-sm-6 col-lg-4 mb-4">
                            <div class="card">
                              <a href="{% url 'akromdev:picture-detail' picture.slug %}">
                                <img src="{{ picture.image.url }}" alt="img" class="bd-placeholder-img card-img" width="100%" height="260" role="img">
                              </a>
                              {% if picture.description %}
                                  {{ picture.description }}
                              {% endif %}
                            </div>
                          </div>
                        {% empty %}
                          <h1>Now Pictures</h1>
                        {% endfor %}
                      {% endif %}

                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}